<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Index - Md Server</title>
        <link rel="stylesheet" href="/static/normalize.css">
    </head>
    <body>
        <h1>Index</h1>
        <table>
            {{range .}}
            <tr>
                <td>
                    <a href="/pages/{{.}}">{{.}}</a>
                </td>
                <td>
                    <input type="button" value="Edit"
                        onclick="javascript:location.href='/edit?name={{.}}'">
                </td>
                <td>
                    <input type="button" value="Delete"
                        onclick="execDelete('{{.}}')">
                </td>
            </tr>
            {{end}}
        </table>
        <h2>Create</h2>
        <form action="/edit" method="get">
            Filename: <input type="text" name="name"><br>
            <input type="submit" value="Create!">
        </form>
        <h2>Upload</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="markdown"><br>
            <input type="submit" value="Upload!">
        </form>
    <script>
        const execDelete = (name) => {
            'use strict';
            if (confirm('Are you sure to delete ' + name + '?')) {
                location.href = '/?delete=' + name;
            }
        }
    </script>
    </body>
</html>
